<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-orange.min.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
    <div class="frame">
        <div id="close" class="frame-icons">X</div>
        <div class="frame-text">Overwatch League</div>
    </div>
    <div class="image"></div>
    <div class="content">
        <div class="sidebar">
            <div class="sidebar-item"><a href="dashboard.htm">dashboard</a></div>
        </div>
    </div>

    <script src="../controllers/dashboard.js"></script>
    <script src="../controllers/app/main.js"></script>
</body>
</html>